<!DOCTYPE html>
<html>
  <head>
    <title>Forms Demo 2017</title>
    <%= csrf_meta_tags %>

    <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <h1>Lost and Found</h1>
      </div>
      <div class="row">
        <div class="col">
          <div class="btn-group" role="group">
            <%= button_to "Items", items_path, method: :get, class: "btn btn-secondary" %>
            <%= button_to "Categories", categories_path, method: :get, class: "btn btn-secondary" %>
            <%= button_to 'New Item', new_item_path, method: :get, class: "btn btn-secondary" %>
            <%= button_to 'Search', search_items_path, method: :get, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>

      <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
